# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
local/local_settings.py
*.coverage
tests/reporter/*.xml
.idea/*
coverage.xml
reports/*
*/.tox/*
.tox/*
crams.egg-info/*
.DS_Store
crams.db
.venv/*
crams/local/local_settings.py
dist/*
build/*
